body {
    background-color: black;
    color: lightgrey;
    text-align: center;
    font-size: larger;
}


#top_buttons {
    position: sticky;
}


button {
    background-color: transparent;
    color: lightgrey;
    padding: 15px;
}